fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
faster_whisper==1.1.1
openai==1.61.0
transformers==4.48.2
sqlalchemy==2.0.37
aiomysql==0.2.0
pyannote.audio==3.3.2
ultralytics==8.3.69
librosa==0.10.2
aiomysql==0.2.0