<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>미팅 페이지</h2>
    <ul>
        <li><a href="/meeting/host">/meeting/host</a> - meeting/host</li>
        <li><a href="/meeting/client">/meeting/client</a> - meeting/client</li>
        <li><a href="/meeting/view">/meeting/view</a> - meeting/usermeeting</li>
    </ul>

    <h2>로그인 관련</h2>
    <ul>
        <li><a href="/">/login</a>/ - login/index</li>
        <li><a href="/membership">/membership</a> - login/membership</li>
    </ul>

    <h2>어드민 관련</h2>
    <ul>
        <li><a href="/admin/adminMain">/admin/adminMain</a> - admin/adminMain</li>
        <li><a href="/admin/adminFix">/admin/adminFix</a> - admin/adminFix</li>
        <li><a href="/admin/adminFix/detail">/admin/adminFix/detail?~</a> - admin/detail</li>
    </ul>

    <h2>유저 관련</h2>
    <ul>
        <li><a href="/user/userMain">/user/userMain</a> - user/userMain</li>
        <li><a href="/user/meetingList">/user/meetingList</a> - user/meetingList</li>
        <li><a href="/user/speechLog">/user/speechLog?~</a> user/speechLog</li>
        <li><a href="/user/userFix">/user/userFix</a> - user/userFix</li>
        <li><a href="/user/userFix/write">/user/userFix/write?~</a> - user/write </li>
        <!--        <li><a href="/mypage/summary">/mypage/summary?~</a> - user/mypage/summary</li>-->
    </ul>

    <h2>Swagger</h2>
    <ul>
        <li><a href="/docs">/docs</a> - 각종 링크 정리</li>
        <!--        <li><a href="/query/write">/query/write</a> - user/query/write</li>-->
    </ul>


</div>
</body>
</html>