<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에러페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
</head>
<style>
    .error-image {
        width: 80%;
        height: auto;
        display: block; /* 이미지가 중앙 정렬되도록 */
        margin: -90px auto; /* 상하 여백 추가 및 중앙 정렬 */
    }

    body {
        overflow: hidden;
    }

</style>
<body>
<header>
    <div class="header-left">
        <a href="/">
            <img src="/img/logo.png" alt="Mate Logo" class="logo-img">
        </a>
        <h1>Mate</h1>
    </div>
    <div class="header-right">
        <form action="/user/userMain" method="get" style="display:inline;">
            <button type="submit" class="nav-button">메인으로</button>
        </form>
    </div>
</header>
<div class="error-container">
    <img src="/img/error_image.png" alt="404 Error Image" class="error-image">
</div>
</body>
</html>