<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>메인페이지</h2>
    <ul>
        <li><a href="/">/</a> - user/dashboard</li>
        <li><a href="/meeting">/meeting?start=~</a> - user/meeting</li>
    </ul>
    <h2>로그인 관련</h2>
    <ul>
        <li><a href="/login">/login</a> - login/login</li>
        <li><a href="/membership">/membership</a> - login/membership</li>
    </ul>
    <h2>어드민 관련</h2>
    <ul>
        <li><a href="/admin/dashboard">/admin/dashboard</a> - admin/dashboard</li>
        <li><a href="/admin/query">/admin/query</a> - admin/search - 문의 게시판 리스트?</li>
        <li><a href="/admin/query/answer">/admin/query/answer?~</a> - admin/answer</li>
        <li><a href="/admin/log">/admin/log</a> - admin/log</li>
    </ul>

    <h2>마이페이지 관련</h2>
    <ul>
        <li><a href="/mypage/log/list">/mypage/log/list</a> - user/mypage/search -> user/mypage/logList로 변경</li>
        <li><a href="/mypage/log">/mypage/log?~</a> - user/mypage/log</li>
        <li><a href="/mypage/meeting/list">/mypage/meeting/list</a> - user/mypage/search -> user/mypage/meetingList로 변경</li>
        <li><a href="/mypage/meeting">/mypage/meeting?~</a> - user/mypage/meeting -> 추가 </li>
        <li><a href="/mypage/summary">/mypage/summary?~</a> - user/mypage/summary</li>
    </ul>

    <h2>문의 관련</h2>
    <ul>
        <li><a href="/query">/query</a> - user/query/search</li>
        <li><a href="/query/write">/query/write</a> - user/query/write</li>
    </ul>


</div>
</body>
</html>