<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Mate Recorder</title>
    <link rel="stylesheet" href="/css/meeting_style.css">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="/img/mate-icon.png" alt="Mate Icon">
            <h1>Mate</h1>
        </div>
        <h1 class="title">Viewer</h1>
    </header>

    <div class="content-wrapper">
        <div class="meeting-info">
            <div class="participants">
                <h2>회의 제목</h2>
                <p class="meeting-title">
                    {{meetingName}}
                </p>
            </div>
            <div class="meeting-time">
                <p>{{meetingDate}}</p>
                <p>{{meetingTime}} 회의시작</p>
            </div>

            <div class="participants">
                <h2>회의 인원: {{participantCount}}</h2>
                <p class="names">
                    {{#meetingParticipants}}
                    {{user.name}}<br> <!-- User 객체의 name 필드에 접근 -->
                    {{/meetingParticipants}}
                </p>
            </div>
        </div>
        <div class="screen-container">

        </div>
    </div>
</div>
<script src="/js/host.js"></script>
</body>
</html>