<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Mate Recorder</title>
    <link rel="stylesheet" href="/css/meeting_style.css">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="/img/mate-icon.png" alt="Mate Icon">
            <h1>Mate</h1>
        </div>
        <h1 class="title">Recorder</h1>
    </header>

    <div class="content-wrapper">
        <div class="meeting-info">
            <div class="meeting-time">
<!--                <p>{{#meeting}}{{createdAt.format("yyyy-MM-dd")}}{{/meeting}}</p>-->
<!--                <p>{{#meeting}}{{endTime.format("h:mm a")}} 회의시작{{/meeting}}</p>-->
            </div>

            <div class="participants">
<!--                <h2>회의인원 : {{participants.length}}</h2>-->
<!--                <p class="names">-->
<!--                    {{#participants}}-->
<!--                    {{.}}<br>-->
<!--                    {{/participants}}-->
<!--                </p>-->
            </div>

            <div class="control-buttons">
                <button class="control-btn" id="startButton">기록하기</button>
                <button class="control-btn" id="stopButton">휴식하기</button>
                <button class="control-btn">피로도 탐지</button>
                <button class="control-btn">자료 요약</button>
                <button class="control-btn">회의 종료</button>
            </div>
        </div>

        <div class="screen-container">
            <video id="localVideo" autoplay muted playsinline></video>
            <video id="remoteVideo" autoplay></video>
        </div>
    </div>
</div>
<script src="/js/host.js"></script>
</body>
</html>